body{
	background-color: #ccc;
}
.container{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-content:center;
}
.login_div{
	width: 400px;
	height: 350px;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
    margin: 15px 0;
    padding: 36px 30px 20px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    border-radius: 10px;
}
.login_three{
	width: 100%;
	height: auto;
	float: left;
}
.login_checkbox{
	width: 22px;
	height: 22px;
	float: left;
}
.login_nextlogin{
	float: left;
	color: #ccc;
	float: left;
	margin-left: 5px;
	line-height: 30px;
	font-size: 13px;
}
.login_forget{
	color: #ccc;
	float: right;
	line-height: 30px;
}
.login_noAccount{
	width: auto;
	height: auto;

}
/*选择框*/
.label{
	border:5px solid #cfcece;
	box-sizing:border-box;
	width:25px;
	height:25px;
	float: left;
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: border-color 0.2s;
}
.label:empty {
    display: block;
}
.label::before, .label::after{
	box-sizing: border-box;
	position: absolute;
	background: #fff;
	width:3px;
	display: inline-block;
	height:0;
	content: '';
	transform-origin: left top;
}
.label::before{
	transform: rotate(-50deg);
	left:-3px;
	top:9px;
}
.label::after{
	transform: rotate(-140deg);
	top:15px;	
	left:6px;
}
.checkbox{
	display:none;
}
input[type=checkbox]:checked+.label{
	background:#658db5;
	border-color: #658DB5;
}
input[type=checkbox]:checked+.label::after{
	height:17px;
	animation: after 0.3s linear;
}
input[type=checkbox]:checked+.label::before{
	height:10px;
	animation: before 0.1s linear;
	
}
@keyframes after{
	0%{height:0;}
	50%{height:0;}
	100%{line-height: 30px;}
}
@keyframes before{
	0%{height:0;}
	100%{line-height: 20px;}
}
