body{
  background-color: #f4f7ed;
}
.navbar-fixed-top{
  position: fixed;
}
.Fox_Content{
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.Project_Title{
  text-align: left;
  width: 100%;
  float: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.Project_Members_jiesan {
  float: left;
  width: 100%;
  height: auto;
  margin-top: 15px;
}
.Project_Members_jiesan label{
  width: 90px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;
  text-align: center;
  line-height: 35px;
  float: left;
  color: #777;
  letter-spacing: 1px;
  margin: 15px 24px;
  transition:all .2s;
  cursor: pointer;
}
.Project_Members_jiesan label:hover{
  background-image: url("../img/SSTI_Delect.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.CreateProject_Button{
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 25px;
  padding: 10px 100px;
  color: #fff;
  background-color: #e84e4e;
}