<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php" />
            <add name="php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php5.5.12\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
